# SPDX-License-Identifier: Apache-2.0 WITH LLVM-exception
# Codeowners for reviews on PRs.
# Note: Anybody from org can help with review. In the end, at least one codeowner approval is required.

*  @bretbrownjr @camio @dietmarkuehl @inbal2l @JeffGarland @neatudarius @steve-downey
